<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier un employé</title>
    <link rel="stylesheet" href="/css/employee.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="https://miro.medium.com/v2/resize:fit:500/1*AbiX4LwtSNozoyfypcKvEg.png">
</head>
<body>
<div th:include="header"></div>
<h1>Modifier un employé</h1>

<form method="post"
      th:action="@{/saveEmployee}" th:object="${employee}">
        <input type="hidden" th:field="*{id}" class="form-control">

        <label for="firstNameInput">Prénom</label>
        <input type="text" th:field="*{firstName}" class="form-control" id="firstNameInput"
                aria-describedby="firstNameHelp" placeholder="Saisir le prénom">

        <label for="lastNameInput">Prénom</label>
        <input type="text" th:field="*{lastName}" class="form-control" id="lastNameInput"
        aria-describedby="lastNameHelp" placeholder="Saisir le prénom">


        <label for="mailInput">Email</label>
        <input type="text" th:field="*{mail}" class="form-control" id="mailInput"
                aria-describedby="mailHelp" placeholder="Saisir l'adresse email">

    <button type="submit" class="btn btn-primary">Modifier</button>
</form>

</body>
</html>