.border{
    border: solid 1px black;
}
header{
    background-color: aquamarine;
    margin: 0;
}
body{
    margin: 0;
}
header h1{
    margin-left: 42%;
    font-family: "Brush Script MT";
}

.employee-title{
    text-align: center;
}

.add-employee{
    margin-left: 3%;
}